header{

    background-color: #1ED760  /*Not final */

    display: flex;

    flex-direction: row;

}

#logoCoupling{

    margin-left:20px;
    margin-right:70px;
}

#simplifiedLogo{

    font-size: 48px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    color:black;

}

#logoSubtitle{

    margin-top:-15px;

}

#navButtons{

    margin-top: auto;
    margin-bottom: auto;

    display: flex; 

    align-items: center;

}

.navBtn{

    width:350px;
    margin:30px;
    
    border:none;
    background-color:rgba(255, 166, 0, 0.501);
    border-radius:10px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;

    padding:10px;

    justify-content: center;

}

#login-button{

    margin-left:300px;
    width:500px;
    padding:20px;
    font-size: xx-large;

}









#heroBanner{

    --bannerColor: rgba(255, 166, 0, 0.501);
    max-width: 100%;
    height: 250px;
    background-color: var(--bannerColor);  /* Color may be used more than once */
    
}

#exclamationGuy{
    max-height: 350px;
    display: flex;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 75px;

}

#promptText{

    text-align: center;
    padding-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color:black;
    transform:translateY(-200px); 
    

}

#logged-in-template {
    display: none;
}

#oauth-template {
    display: none;
}

tr:nth-child(even) {
    background-color: #eee;
}

td:first-child {
    font-weight: bold;
}

td {
    white-space: nowrap;
    padding: 10px;
    margin-right: 1rem;
}

#user-chart {
    /* add code to make this a separate chart with the top artists and top tracks organized neatly and dynamically */
}
